/* Poppins font from google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
/* Header Section Start */
nav{
    display: flex;
    justify-content: space-between;
    padding: 80px;
    background: #FFF;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 20px;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
nav a{
    text-decoration: none;
}
.nav-title{
    color: #3A3A3A;
    font-size: 24px;l;
    font-weight: 700;
}
.banner-container{
    display: flex;
    align-items: center;
    padding: 80px;
    background-image: url(./images/Circle\ design.svg);
    background-position: right center;
    background-repeat: no-repeat;
}
.banner-title{
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}
.banner-description{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
.btn{
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    border: none;
    margin-top: 10px;
}
/* Header Section End */

/* Icon Section Start*/
.icon{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    margin-top: 100px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}
/* Icon Section End*/

/* Popular Section Start*/
.popular-container{
    margin-top: 100px;
}
.popular-title{
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
}
.popular-image-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    justify-items: center;
    gap: 20px;
}
.box{
    width: 300px;
    height: 400px;
    border-radius: 5px;
    padding: 10px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.pop-img{
    width: 100%;
}
.pop-title{
    color: rgba(0, 0, 0, 0.87);
    font-size: 20px;
    font-weight: 500;
}
.pop-description{
    color: #787885;
    font-size: 16px;
    font-weight: 500;
}
/* Popular Section End*/
