/* Poppins font from google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
/* Header Section Start */
nav{
    display: flex;
    justify-content: space-between;
    padding: 80px;
    background: #FFF;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 20px;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
nav a{
    text-decoration: none;
}
.nav-title{
    color: #3A3A3A;
    font-size: 24px;l;
    font-weight: 700;
}
.banner-container{
    display: flex;
    align-items: center;
    padding: 80px;
    background-image: url(./images/Circle\ design.svg);
    background-position: right center;
    background-repeat: no-repeat;
}
.banner-title{
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}
.banner-description{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    width: 80%;
}
.btn{
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    border: none;
    margin-top: 10px;
    color: #FFF;
}
.banner-img{
    width: 380px;
}
/* Header Section End */

/* Icon Section Start */
.icon{
    display: flex;
    justify-content: space-evenly;
    background: #FFF;
    padding: 50px;
    margin-top: 100px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}
/* Icon Section End */

/* Popular Section Start */
.popular-container{
    margin-top: 100px;
}
.popular-title{
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
}
.popular-image-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    justify-items: center;
    gap: 20px;
}
.box{
    width: 300px;
    height: 400px;
    border-radius: 5px;
    padding: 10px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.pop-img{
    width: 100%;
}
.pop-title{
    color: rgba(0, 0, 0, 0.87);
    font-size: 20px;
    font-weight: 500;
}
.pop-description{
    color: #787885;
    font-size: 16px;
    font-weight: 500;
}
/* Popular Section End */

/* Feature Section Start */
.feature-container{
    display: flex;
    align-items: center;
    padding: 80px;
    gap: 50px;
}
.feature-title{
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
}
.feature-description{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    line-height: 30px;
}
/* Feature Section End */

/* Footer Section Start */
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #adacb7;
}
.footer-title{
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
}
.copy{
    color: #D9DBE1;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 10px;
}
.footer-img{
    width: 25px;
    height: 25px;
    padding: 10px;
    margin-top: 20px;
}
/* Footer Section End */


/* Mobile Version */
@media screen and (max-width: 768px) {
    nav, .icon, .banner-container, .feature-container, .footer{
        flex-direction: column;
    }
    .banner-container{
        background: none;
    }
    .icon img{
        flex-direction: column;
        margin-top: 20px;
    }
        .popular-image-container{
            grid-template-columns: 1fr;
            justify-content: center;
        }
}


/* Tablet Version */
@media screen and (min-width: 768px) and (max-width: 992px){
    nav, .icon, .banner-container, .feature-container{
        flex-direction: column;
    }
    .banner-container{
        background: none;
    }
    .icon img{
        flex-direction: column;
        margin-top: 20px;
    }
        .popular-image-container{
            grid-template-columns: 2fr;
            justify-content: center;
        }
}
